.block-center {
    margin: auto;
    width: 720px;
    height: auto;
  
    background: #FFF8DC;
    color: rgba(0, 0, 0, 0.747); 

    background-image: url("white-abstract-background_23-2148817571.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    border: 3px solid black;
  }

  .nav-menu-header {
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
  
    overflow: hidden;

    height: 50px;
  }

  .nav-li-header {  
    display: block;
    float: left;
    text-align: center;
    margin-left: 18px;
    margin-top: 8px;

    font-size: 24px;
  }

  a:hover {
    color: black;
  }

  a:link {
    color: black;
  }
  
  a:visited {
    color:gray;
  }
  

  header a {
    text-decoration: none;

    outline: none;
  }

  h1 {
    vertical-align: middle;
    text-align: center;

    font-family: Georgia, serif;
    font-size: 46px;
  }
  
  hr {
    height: 1px;
    background-color: black;
    color: black;
  }

  .main-hr {
    clear: both;
    visibility: hidden;
  }
  
  section {
    position: relative;
    margin-left: 80px;
  }

  article {
    position: relative;
    margin-left: 80px;
  }
  
  .contacts {
    margin-top: 50px;
    margin-bottom: 80px;
    height: 210px;
  }
  
  .img-contacts {
    float: right;
    width: auto;
    height: 300px;
    margin-right: 60px;
  
  }
  
  .nav-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
  
    overflow: hidden;
  }

  footer {
    height: 50px;
  }
  
  footer a {
    display: block;
    text-decoration: none;
  }
  
  .nav-li {
    float: right;
    margin-left: 8px;
  }

  .nav-footer {
    margin-top: 20px;
    margin-right: 10px;
  }
  
  ul {
    margin-bottom: 40px;
  }